<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Status</title>
    <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', function() {
            alert("{{ message }}");
            window.location.href = '/industry_analysis';
            // window.location.href = '/product_analysis?GEO={{ GEO }}'
        });
    </script>
</head>
<body>
</body>
</html>
